a {
	color: blue;
	text-decoration: none;
}
a:hover {
	color:orange;
}

body {
	margin-left: 5%;
	margin-top: 2.5%;
	width: 7.5in;
}

h1 {
	/* Color is green to represent US currency. */
	color: rgba(0, 180, 0, 1);
	/* Lobster is a Google font. */
	font-family: Lobster, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
}

h2 {
	font-family: Raleway;
	font-weight: 400;
}

p {
	font-size: 1.1em;
}

svg {
	margin-bottom: 12.5px;
	margin-top: 5px;
}
svg:last-of-type {
	margin-bottom: 5px;
}

ul {
	font-size: 1.1em;
}

li {
	margin-top: 20px;
}
li:first-child {
	margin-top: 0;
}
li p {
	margin-top: 8px;
}

.citation {
	font-family: serif;
	font-weight: 100;
	font-size: 0.8em;
}

.line {
	fill: none;
	stroke: rgba(0, 170, 0, 1);
}

.title {
	font-family: sans-serif;
	font-size: 1.6em;
}

#copyright {
	font-style: italic;
}

#plotArea {
	fill: rgba(25, 0, 0, 0.05);
}

p#pub {
	font-style: italic;
}
